@use '../custom'as *;
@use '../components/mixins'as *;


.btn {
    color: $white;
    cursor: pointer;
    font-size:0.9rem;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 500; 
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    background-color: $secondary !important;
    margin: 0 0 0 1em !important;
    border: 1px solid $secondary;

    @include media-breakpoint-down(sm) {
        margin: 1em 0 0 4em;
        
    }

    @include media-breakpoint-down(xs) {
        margin: 1em 0 0 2em;
       
    }

}


.btn1 {
    max-width: 140px;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    outline: 1px solid;
    outline-color: $secondary;
    outline-offset: 0px;
    text-shadow: none;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);

    @include media-breakpoint-down(md) {
        padding-right: 5%;
    }

    @include media-breakpoint-down(sm) {
        visibility: hidden;
    }
  } 
  
  .btn1:hover {
    border: 1px solid;
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.5), 0 0 20px rgba(0, 0, 0, 0.2);
    outline-color: rgba(167, 167, 167, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #090f13; 
  }


  .btn2 {
    font-size: 1.2rem !important;
    max-width: 20rem;
    border: 0 solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    outline: 1px solid;
    outline-color: $secondary;
    outline-offset: 0px;
    text-shadow: none;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);

    @include media-breakpoint-down(md) {
        padding-right: 5%;
    }

    @include media-breakpoint-down(sm) {
        padding-right: 5%;
        width: 220px;
        font-size: 0.6rem;
    }
  }

    .btn2:hover {
        border: 1px solid;
        box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.5), 0 0 20px rgba(0, 0, 0, 0.2);
        outline-color: rgba(167, 167, 167, 0);
        outline-offset: 15px;
        text-shadow: 1px 1px 2px #090f13; 
    }

