@use '../custom' as *;
@use '../components/mixins' as *;



.about-us {
    margin: 7rem 4rem;


    .methods {
        color: $secondary;
    }

    .our-list {
        list-style-type: none;
        margin: 1rem 1rem;

        @include media-breakpoint-up(md) {
            font-size: 1rem;
            display: inline;
         
        }

    }

    .our-list>li {
        text-indent: -40px;
        @include media-breakpoint-up(md) {
            text-indent: 0;
        }
    }

    .our-list>li:before {
        content: "-";
        text-indent: -20px;
        padding-right: 10px;

        @include media-breakpoint-up(md) {
            content: "";
            text-indent: 0;
            padding-right: 0;
        }
    }

    .list-text {
        font-weight: 600;
    }


    @include media-breakpoint-down(sm) {
        margin: 10rem 1rem;
    }


    .btn {

        @include media-breakpoint-down(sm) {
            font-size: 0.8rem;
        }
    }

    @include media-breakpoint-up(md) {
        .btn3 {
            margin-top: 2rem;
            margin-bottom: 1.5rem;
            text-align: center;
            align-items: center;
        }

    }

    @include media-breakpoint-up(lg) {
        .btn3 {
            align-items: start;
            margin-top: 2rem;
            margin-bottom: 3rem;
            margin-left: -20px;
        }

    }

    @include media-breakpoint-down(sm) {
        .btn3 {
            margin-top: 2rem;
            margin-bottom: 1rem;
            text-align: center;
            align-items: center;
        }

    }


}