@use '../custom'as *;
@use '../components/mixins'as *;


.menu {
    background-color: $gray;
    font-family: 'Titillium Web', sans-serif;
    .navbar-nav{
        .nav-item{
            .nav-link{
                text-align: center;
                color: $black;
                font-weight: 600;
                font-size: 0.8rem;
                text-transform: uppercase;
                letter-spacing: 1px;
                padding: 0.5rem 0.9rem;
                transition: all 0.3s ease-in-out;
                &:hover{
                    color: $red;
                }
            }

            @include media-breakpoint-down(sm) {
                .nav-link {
                    padding: 0.5rem 0.9rem;
                    font-size: 0.9rem;
                }
            }

            @include media-breakpoint-down(md) {
                .nav-link {
                    padding: 0.3rem 0.5rem;
                    font-size: 1.5rem;
                }
            }
        }
    }

    .navbar-brand{
        .img {
            width: 80px;
            height: 100px;
        }

        @include media-breakpoint-down(sm) {
            .img {
                width: 50px;
                
            }
            padding-bottom: 5%;
        }
    }
}