@use '../custom'as *;
@use '../components/mixins'as *;


.who-we-are {
    .bai-list {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;

        @include media-breakpoint-down(sm) {
            margin-bottom: 1rem;
        }

        li {
            margin-bottom: 1rem;
            font-size: 1.2rem;
            font-weight: 700;
            font-family: 'Bai Jamjuree', sans-serif;
            @include media-breakpoint-down(sm) {
                font-size: 0.9rem;
            }

            @include media-breakpoint-down(md) {
                font-size: 0.9rem;
            }
        }
    }

    .btn {

        @include media-breakpoint-down(sm) {
            font-size: 0.8rem;
            text-align: center;
            align-items: center;
        }
    }

    @include media-breakpoint-down(md) {
        .btn3 {
            margin-top: 2rem;
            margin-bottom: 2rem;
            text-align: center;
            align-items: center;
        }

    }

    @include media-breakpoint-up(lg) {
        .btn3 {
            align-items: start;
            margin-top: 2rem;
            margin-bottom: 3rem;
            margin-left: -20px;
        }

    }

}